<% layout('layout') -%>

<% include header %>

<main class="details">
	
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Results</a></li>
	  <li class="active">Lucky China</li>
	</ol>

	<article class="col-sm-12 col-xs-12">
		<div class="restaurant-result">
			<ul class="col-xs-10">
				<li><h3>Lucky China</h3></li>
				<li>6756 Aloma Ave, Winter Park, FL 32792</li>
				<li>(407) 679-4016</li>
				<li>http://www.luckychinawinterpark.com/</li>
				<li><a href="#">Get Directions</a></li>
			</ul>
			<div class="col-xs-2">
				<img src="/assets/images/open.png" alt="open-now">
				<!-- <img src="/assets/images/closed.png" alt="closed"> -->
			</div>
		<div>
	</article>

	<div class="col-xs-12 alert">
		<h2>Restaurant Menu</h2>
	</div>

	<div class="col-sm-6 col-xs-12">
		<table>
			<thead>
				<tr>
					<th colspan="2">Lunch</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th colspan="2">Dinner</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6 col-xs-12">
		<table>
			<thead>
				<tr>
					<th colspan="2">Combos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
				<tr>
					<td>Orange Chicken</td>
					<td>$10.99</td>
				</tr>
			</tbody>
		</table>
	</div>

</main>