<% layout('layout') -%>

<main class="login">
	<header>
		<div class="col-sm-2"><a href="/"><img src="/assets/images/grubQuestLogo2.png"></a></div>
	</header>


	<form class="col-sm-6 col-sm-offset-3" method="POST" action="/login/loginaction">
		<h1>Log In</h1>
		<input class="form-control" type="username" placeholder="Username" autofocus>
		<input class="form-control" type="password" placeholder="Password">
		<button type="submit" class="register btn col-sm-4 col-sm-offset-8 col-xs-12 col-xs-offset-0">Log In</button>
	</form>

	<div class="col-sm-6 col-sm-offset-3 sign-up">
		<p>Don't have an account? <a href="register">Sign Up</a></p>
	</div>

</main>