<% layout('layout') -%>

<main class="index">
	
	<div class="col-sm-8 col-sm-offset-2">
		
		<img class="col-sm-12" src="/assets/images/grubQuestLogo1.png" alt="GrubQuest">
		
		<form class="col-sm-12">

			<div class="col-sm-6"><input class="form-control" type="text" placeholder="Search by restaurant name or cuisine" autofocus required></div>

			<div class="col-sm-3"><select name="budget" class="form-control col-sm-2" required>
				<option selected disabled>Select a Price Range</option>
				<option value="range1">Less than $5</option>
				<option value="range2">$5 - $10</option>
				<option value="range3">$11 - $15</option>
				<option value="range4">$16 - $20</option>
				<option value="range5">$21 or more</option>
			</select></div>
			
			<div class="col-sm-3"><input class="form-control" type="text" placeholder="Zip Code" required></div>

			<div class="col-sm-12"><button type="submit" class="btn">Find some grub</button></div>
		
		</form>

	</div>

</main>