<% layout('layout') -%>

<% include header %>

<main class="register">


	<form class="col-sm-6 col-sm-offset-3">
		<h1>Sign Up</h1>
		<input class="form-control" type="text" placeholder="First Name" autofocus>
		<input class="form-control" type="text" placeholder="Last Name">
		<input class="form-control" type="username" placeholder="Username">
		<input class="form-control" type="password" placeholder="Password">
		<button type="submit" class="btn col-sm-12 col-xs-12">Sign Up</button>
	</form>


</main>