<% layout('layout') -%>
<% include header %>



<main class="results">

	<div class="alert" role="alert"><h2>Results for "chinese" in 32792</h2></div>


	<div class="dropdown col-xs-3">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    Filter
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
	  </ul>
	</div>

	<nav class="col-xs-6 col-xs-offset-3">
	  <ul class="pagination">
	    <li><a href="#">&laquo;</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">&raquo;</a></li>
	  </ul>
	</nav>
	<% for(i=0; i<6; i++) { %>

		<article class="col-sm-6 col-xs-12">
			<div class="restaurant-result">
				<ul class="col-xs-9">
					<li><h3>Lucky China</h3></li>
					<li>6756 Aloma Ave, Winter Park, FL 32792</li>
					<li>(407) 679-4016</li>
					<li>http://www.luckychinawinterpark.com/</li>
					<li><a href="#">Get Directions</a></li>
				</ul>
				<div class="col-xs-3">
					<img src="/assets/images/open.png" alt="open-now" class="open-now">
				</div>
			<div>
		</article>
	<% } %>






</main>