/*
Colors:
#3B1F05 Brown
#FF8A19 Orange 1
#FF7D00 Orange 2
#008CB2 Blue 1
#00C8FF Blue 2

*/

@font-face {
    font-family: AveriaSans;
    src: url("../fonts/AveriaSans-Regular.ttf");
}
body{
	font-family: Arial, Verdana, sans-serif;
	color: #333;
}
h1, h2, h3{
	font-family: AveriaSans, Verdana, sans-serif;
	color: #3B1F05;
}
img{
	width: 100%;
}
a{
	text-decoration: underline;
}

/*----------------------- LAYOUT ------------------------------*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -40px; 
}
.container:after {
	content: "";
	display: block;
}
footer, .container:after {
	height: 40px; 
}
footer{
	background-color: #008CB2;
	padding: 10px;
	text-align: center;
	color: #EFEFEF;
}
footer p{
	margin: 0;
}

/*----------------------- INDEX ------------------------------*/

.index .log-in{
	text-align: right;
	padding: 10px;
	font-size: 16pt;
	font-family: AveriaSans, Verdana, sans-serif;
}
.index .index-search{
	margin-top: 100px;
}

.index form div{
	padding: 0 5px !important;
}
.index form input, .index form select{
	margin: 5px 0;
}
.index form button[type="submit"]{
	width: 100%;
	margin-top: 10px;
	background: #FF7D00;
	color: #EFEFEF;
	font-size: 16pt;
	font-family: AveriaSans, Verdana, sans-serif;
}
.index form button[type="submit"]:hover{
	background: #FF8A19;
}
.index .sign-up{
	font-family: AveriaSans, Verdana, sans-serif;
	padding: 15px;
	font-size: 14pt;
}
.index .sign-up p{
	padding: 5px;
}

/*----------------------- HEADER ------------------------------*/

header{
	margin-top: 10px;
	overflow: hidden;
}
header .log-in{
	text-align: right;
	padding: 0 10px;
	font-size: 16pt;
	font-family: AveriaSans, Verdana, sans-serif;
}


/*----------------------- RESULTS ------------------------------*/

.results .alert{
	background: #f5f5f5;
	padding: 5px;
	margin: 20px 0;
}
.results .alert h2{
	margin: 0;
	font-size: 15pt;
}
.results .dropdown{
	padding: 0;
}
.results .dropdown button{
	border-radius: 0;
}
.results .dropdown-menu{
	border-radius: 0;
}
.results nav{
	padding: 0;
}
.results .pagination{
	margin: 0;
	float: right;
}
.results .restaurant-result{
	border: 1px solid #008CB2;
	overflow: hidden;
	margin: 10px 0;
}
.results .restaurant-result:hover{
	background-color: #EFEFEF;
}
.results p{
	margin: 0;
}
.results ul li{
	list-style-type: none;
	list-style-position: outside;
}
.results .open-now{
	margin: 10px 0;
}
.results #dropdownMenu1{
	background-image: none;
}

/*----------------------- DETAILS ------------------------------*/

.details .breadcrumb{
	margin: 20px 0;
}
.details ul li{
	list-style-type: none;
	list-style-position: outside;
	font-size: 16pt;
}
.details ul li h3{
	font-size: 36pt;
}
.details h2.open{
	color: green;
	border: 3px solid green;
	text-align: center;
	border-radius: 200px;
	padding: 40px 20px;
	font-size: 20pt;
}
.details .alert{
	background: #f5f5f5;
	padding: 5px;
	margin: 20px 0;
}
.details .alert h2{
	margin: 0;
	font-size: 25pt;
}
.details table{
	font-size: 14pt;
	width: 100%;
	margin-bottom: 20px;
}
.details table th{
	border-bottom: 3px solid #333;
}
.details table td{
	padding: 5px 0;
}
.details table td:nth-child(2){
	text-align: right;
}

/*----------------------- LOGIN ------------------------------*/

.login form input{
	margin: 5px 0;
}
.login form button[type="submit"]{
	width: 100%;
	margin-top: 10px;
	background: #FF7D00;
	color: #EFEFEF;
	font-size: 16pt;
	font-family: AveriaSans, Verdana, sans-serif;
}
.login .sign-up{
	font-family: AveriaSans, Verdana, sans-serif;
	padding: 15px;
	font-size: 14pt;
}
.login .sign-up p{
	padding: 5px;
}

/*----------------------- REGISTER ------------------------------*/

.register form input{
	margin: 5px 0;
}
.register form button[type="submit"]{
	width: 100%;
	margin-top: 10px;
	background: #FF7D00;
	color: #EFEFEF;
	font-size: 16pt;
	font-family: AveriaSans, Verdana, sans-serif;
}
